@if(error){
  <p class="text-red-600 border border-red-900 rounded-sm absolute top-12 z-10 left-1 p2 "
  >Enter valid Data !!</p>
}
<div class="flex justify-center place-content-center">
    <form  (ngSubmit)="onSubmit()" class="flex flex-col justify-center  items-center gap-y-5 "> 

        <div  class="flex-1">
          <p-floatLabel   >
              <input pInputText id="username" name="username" [(ngModel)]="username" class="expense-input border border-gray-300 inline-block rounded-lg  w-44 h-14"/>
              <label for="username">Username</label>
          </p-floatLabel>
      </div>
      <div class="flex-1">
        <p-dropdown 
        class="expense-input border border-gray-300 inline-block rounded-lg  w-44 h-14"   
        [options]="activities" 
        [(ngModel)]="selectedActivity"
        ptionLabel="name"
        name="selectedActivity"
        placeholder="Workout" 
        />
      </div>

        <div class="flex-1">
          <p-floatLabel   >
              
              <input pInputText id="duration"name="duration" [(ngModel)]="duration" class=" border border-gray-300 inline-block rounded-lg w-44 h-14"/>
              <label for="duration">Duration</label>
          </p-floatLabel>
      </div>
        <button class="flex-1">
          <p-button label="Add Workout" class="expense-input border border-gray-400 inline-block rounded-lg bg-slate-200 h-7 w-32"/>
        </button>
</form>

    
</div>
