
<div class="w-screen overflow-hidden">
<app-header class="max-w-screen-sm overflow-hidden"></app-header>
<main class="w-full">
  <section class=" flex-row md:flex justify-center content-center ml-3 mr-3 mt-2 mb-3 gap-y-4 " >
    <article class="flex-1  w-full md:w-1/2   content-center mb-2">
  <app-input />
</article>
<article class="flex-1 w-full  md:w-1/2 justify-center  mt-2 content-center">  <app-chart /></article>

</section>
<section  >
    <app-table ></app-table>
  </section>

</main>

<router-outlet />
</div>
